{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css'%}">
    <title>0621 SESSION</title>
</head>
<body>
    <img class="bg" src="{% static 'image/nightsky.png'%}">
    <h1>nightsky</h1>
    <div class="pic">
        오늘 첫 오프라인 세션. 설렌다<br>
        나는 윤지원<br>
        저번주 수요일 종강
    </div>
</body>
</html>